h1{
    text-shadow: 3px 3px 3px red;
    text-shadow: 2px 2px 2px red, 5px 5px 5px green;
}

.box{
    background-color: aqua;
    width: 200px;
    height: 200px;
    /* box-shadow:5px 5px 5px; */
    /* box-shadow: 5px 5px 5px brown; */
    /* box-shadow: 5px 5px 5px green,5px 5px 5px red; */
    box-shadow: -5px -5px 5px green,-10px -10px 5px red;
    color: green;
}
